BODY {
 height:2800px;
 background-repeat: no-repeat; 
 background-position:50% 50%;
}

h1{
  text-align:center;
}
h2{
  text-align:center;
  padding-top:45px;
}
p{
  text-align:center;
  font-size:78%;
  
}

